/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common shared styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.text-light-gray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}


/* header styles */
body {
    background-color: white;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    text-align: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 90px;
}

.banner-description {
    text-align: center;
}

#explore-more {
    margin-top: 30px;
}

.banner-pic {
    margin-top: 30px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container {
    display: flex;
    margin-top: 85px;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content-title {
    font-size: 2.8rem;
    padding-right: 60px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

.teams-content-description {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* features styles*/
.feature {
    display: flex;
    margin-top: 130px;
    gap: 140px;
}

.feature-title{
    margin-bottom: 20px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    margin-top: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 42px 30px 30px;
}

.feature-card-title {
    margin-bottom: 10px;
    color: #131313;
    font-size: 1.2rem;
    font-weight: 600;
}

/* facts styles */
.facts {
    margin-top: 130px;
}

.facts-content {
    padding-right: 870px;
}

.facts-description {
    margin-top: 24px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.2rem;
    font-weight: 600;
}

/* sponsor styles */
.sponsors {
    margin: 130px 0px;
}

.sponsor-content {
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-content .sponsor-description {
    margin-top: 30px;
}

.sponsors .sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    filter: grayscale(1);
}


.sponsor-img-container img {
    max-width: 165px;
}

/* footer styles */
footer {
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF4E7;
}

.footer-description {
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 40px 300px;
    margin-bottom: 130px;
}

/* responsive media query */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 30px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
        gap: 20px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-content,
    .sponsor-content {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        text-align: center;
    }

    .teams-content-title {
        padding: 0px;
    }

    .facts-card-container {
        padding: 0px 160px;
    }

    .sponsor-img-container {
        justify-content: center;
        align-items: center;
    }

    .footer-description {
        padding: 30px 60px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 60px;
    }

    main {
        padding: 60px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .teams-content {
        margin-top: 30px;
    }

    .facts-content {
        padding-left: 70px;
        padding-right: 70px;
        text-align: center;
    }

    .facts-card-container {
        padding: 0px 160px;
    }

    .sponsor-img-container {
        justify-content: center;
        align-items: center;
    }

    .footer-description {
        padding: 30px 0px;
    }
}